@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
}

.layout-default {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Các class Layout dùng chung */
.login-page {
  height: 100%;
}

.market-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4px 4px 0 4px;
}