$bg-color: #181A20;
// Palette màu chứng khoán tiêu chuẩn
$bg-primary: #11141d;
$bg-secondary: #1a1e29;
$text-primary: #ffffff;
$text-secondary: #8f94a3;
$error: #ff3b30;

$color-up: #00ff41;    // Màu tăng
$color-down: #ff3b30;  // Màu giảm
$color-ref: #ffd200;   // Màu tham chiếu
$color-ceil: #ff00ff;  // Màu trần
$color-floor: #16e7e7; // Màu sàn

$border-color: #2b313f;
$input-bg: #242935;
$primary-action: #2151d1;
