@use "@/styles/variables.scss" as *;

.marketBoardOverview {
    background-color: $bg-color;
    border-radius: 4px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 4px;
    width: 100%;
    flex: none;
}
